.backgroundBottom
ul.bottomMenu
  each content in data.pageLayout.content2
    li.content2-item
      a.content2-link(href=content.url) #{content.label}
        span.icon-link
.xyz
  span.icon-ctrl
            