// #content2{
//   display: flex;
//   justify-content: center;
//   width: 100vw;
//   grid-row: 5/6;
//   grid-column: 1/7;
// }
// .content2-list{
//   display: flex;
//   justify-content: center;
//   width: 100vw;
// }
.backgroundBottom{
  background-color: $c6;
  grid-row: 6/9;
  grid-column: 1/5;
}
.bottomMenu{
  background-color: $c7;
  grid-row: 7/8;
  grid-column: 2/4;
}
.footer{
  background-color: $c8;
  grid-row: 9/10;
  grid-column: 1/5;
}
