$c1: #6796B9;
$c2:#385E81;
$c3: #193152;
$c4: #C4D7ED;
$c5:#c9c9f0;
$c6:#1433CC;
$c7: #E51E53;
$c8:#7385FF;
$c9:#00C96B;
$c10:#F2CBCB;

.header{
  background-color: white;
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  .leftSide-list{
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin-bottom: 32px; 
  }
  .leftSide-item{
    padding-left: 40px;
  }
  .leftSide-link{
    text-decoration: none;
  }
  .leftSide-desc{
    color: black;
  }
  .headerLogo{
    height: 115px;
    margin-top: 22px;
  }

}
.social{
  background-color: white;
  grid-row: 1/2;
  grid-column: 3/4;
  display: grid;
  grid-template-rows: 70px 70px;
  .rightSide-list{
    list-style: none;
    grid-row: 1/2;
    display: flex;
  }
  .rightSide-item{
    padding-right: 30px;
    padding-top: 35px;
  }
  .rightSide-link{
    color: black;
    text-decoration: none;
  }
  .rightSide-input{
    height: 35px;
    width: 130%;
    margin-top: 34px;
  }
}
.banner{
  background-color: grey;
  grid-row: 2/4;
  grid-column: 1/5;
}

.mainMenu{
  background-color: $c4;
  grid-row: 3/4;
  grid-column: 2/4;
  // margin-bottom: 2rem;
  display: flex;
  .lpMenu-list{
    display: flex;
    justify-content: center;
  }
  .lpMenu-item{
    width: 309px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    justify-content: center;
    background-color:#E0E0E0;
  }
  .lpMenu-item:hover{
    background-color:lightgrey;
  }

  .lpMenu-link{
    text-decoration: none;
    color: black;
    font-family: arial;
  }
}

.arrowDown{
  border: 1px solid white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 41%;
  margin-top: 8rem;
  background-color: white;
  .arrow-link,
  .icon-arrow-down2{
    text-decoration: none;
    color: black;
    margin: 0 auto;
  }
}


