@import "reset";

html, body{
  height: 100%; 
}

*{
  box-sizing: border-box;
}

body{
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 44px 1fr 44px;
  font-family: "open sans";

}