@import "reset";

html, body{
  height: 100%; 
}

*{
  box-sizing: border-box;
}

body{
  display: grid;
  grid-template-columns: 1fr 945px 290px 1fr;
  grid-template-rows: 150px 330px 150px auto 500px 50px 220px 50px 45px;
  font-family: "Helvetica";
}