.backgroundCenter
each content in data.pageLayout.content1
  if content.type == "text"
    p.content1-paragraph #{content.text}
  if content.type == "title"
    h1.content1-title #{content.text}
  if content.type == "link"
    ul.contentMenu
      each link in content.list
        li.content1-item
          .content1-link-wrapper
            a.content1-link(href="#") #{link.label}
              span.content1-span Enter

